$checkbox-duration: 0.2s;
$checkbox-offset: 2px;
$checkbox-size: $input-height - $checkbox-offset * 2;

.checkbox-input {
  position: relative;
  background: $gray_light;
  transition-duration: $checkbox-duration;
  cursor: pointer;

  &::after {
    @include after-init;
    width: $checkbox-size;
    height: $checkbox-size;
    top: $checkbox-offset;
    left: $checkbox-offset;
    transition-duration: $checkbox-duration;
  }

  &:checked {
    background: $blue_main;

    &::after {
      left: calc(100% - ($checkbox-size + $checkbox-offset));
    }
  }
}