$spin-width: 8px;

@keyframes rotation {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.spin {
  --percent: 0%;
  --spin-size: 100px;
  --hidden: hidden;

  width: var(--spin-size);
  height: var(--spin-size);
  position: relative;
  border-radius: 50%;
  background: conic-gradient($blue_main var(--percent), $gray_light var(--percent));

  &.active {
    animation: rotation 10s linear infinite;
  }

  &::after {
    @include after-init;
    top: $spin-width;
    bottom: $spin-width;
    left: $spin-width;
    right: $spin-width;
  }
}